<a href="~/Views/Shared/_Layout.cshtml"></a>


<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p><bold><h2> Added </h2></bold></p>
    </div>
</body>
</html>
