
@{
    ViewBag.Title = "AfterLogin";
}

<h2>After Login</h2>
@if (Session["LogedRegistrationFullname"] != null)
{
    <text>
        Welcome @Session["LogedRegistrationFullname"].ToString()
    </text>
}