    

<marquee behavior="alternate" direction="left" style="padding: 8px;">

    <text>
        Office of Bike Administration
        <br />
        P.O. Box 700,  Ward Stanza 1777
        <br />
        Warrensburg, MO 64093
        <br />
        phone: 1-786-786-7867
        <br />
        email: ugrad@ucmo.edu (Undergraduate)
        <br/>
        grad700@ucmo.edu (Graduate)
        <br/>
    </text>

    <a href="@Url.Action("AboutUcm", "Home")"> <img src="~/Content/Images/ContactUs.jpg" width="700" height="300" alt="Women Clothing" style="cursor: pointer"></a>

</marquee>

<hr />





